@import "tailwindcss";
@plugin "flowbite/plugin";

@theme {
  --color-neutral-primary-soft: #f9fafb;
  --color-neutral-primary-medium: #f3f4f6;
  --color-neutral-secondary-medium: #e5e7eb;
  --color-neutral-tertiary: #f3f4f6;
  --color-neutral-tertiary-medium: #e5e7eb;
  --color-default: #e5e7eb;
  --color-default-medium: #d1d5db;
  --color-heading: #111827;
  --color-body: #4b5563;
  --color-fg-brand: #2563eb;

  --radius-base: 0.5rem;
}